# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
dist-tauri/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vscode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/bin/

# IDE
.idea/
.vs/
*.swp
*.swo
